<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	<mapper namespace="com.ys.wg.dao.BlogDao">
	
	<resultMap id="BlogBaseMap" type="com.ys.wg.model.Blog">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="user_id" property="userId" jdbcType="INTEGER"/>
		<result column="time" property="time" jdbcType="TIMESTAMP"/>
		<result column="title" property="blogTitle" jdbcType="VARCHAR"/>
		<result column="content" property="blogContent" jdbcType="VARCHAR"/>
		<result column="see_count" property="seeCount" jdbcType="INTEGER"/>
		<result column="support" property="support" jdbcType="VARCHAR"/>
		<result column="type" property="type" jdbcType="INTEGER"/>
		<result column="check" property="check" jdbcType="INTEGER"/>
		<result column="status" property="status" jdbcType="INTEGER"/>
	</resultMap>
	
	
	<insert id="blogInsert" parameterType="com.ys.wg.model.Blog">
		INSERT INTO blogs (user_id,title,content,type)VALUES(#{userId},#{blogTitle},#{blogContent},#{type})
	</insert>
	
	<select id="blogNew" parameterType="com.ys.wg.model.Page" resultMap="BlogBaseMap">
		SELECT * FROM blogs WHERE ORDER BY time DESC LIMIT #{start},#{end}
	</select>
	
	<select id="selectBlogNum" parameterType="com.ys.wg.model.Blog"
		resultType="int">
		SELECT count(*) FROM blogs 
		<if test="userId !=0">
			WHERE user_id = #{userId}
		</if>
	</select>
	
	<select id="blogSelectByUserId" parameterType="int" resultMap="BlogBaseMap">
	
		SELECT * FROM blogs 
		<if test="userId !=0">
			WHERE user_id = #{userId}  
		</if>
			ORDER BY id DESC LIMIT #{start},#{end}
	</select>
	
	<select id="selectblogByBlogId" parameterType="com.ys.wg.model.Blog" resultMap="BlogBaseMap"> 
		
		SELECT * FROM blogs WHERE id=#{id}
	
	</select>
	
	<select id="selectBlogNumByType" parameterType="com.ys.wg.model.Blog" resultType="int">
			SELECT COUNT(*) FROM blogs WHERE type = #{type} 
	</select>
	
	<select id="selectBlogByType" parameterType="int" resultMap="BlogBaseMap">
	
		SELECT * FROM blogs WHERE type = #{type} ORDER BY id DESC LIMIT #{start},#{end}
		
	</select>
	
	<select id="selectBlogNumByCheck" parameterType="int" resultType="int">
			SELECT COUNT(*) FROM blogs WHERE check = #{check}
	</select>
	
	<select id="selectBlogByCheck" parameterType="int" resultMap="BlogBaseMap">
	
		SELECT * FROM blogs WHERE check = #{check} ORDER BY id DESC LIMIT #{start},#{end}
		
	</select>
	
	<update id="updateSeeCount" parameterType="com.ys.wg.model.Blog">
		UPDATE blogs SET see_count=see_count+1 WHERE id=#{id}
	</update>
	
	<select id="blogSeeList" parameterType="int" resultMap="BlogBaseMap">
		SELECT * FROM blogs ORDER BY see_count DESC LIMIT #{start},#{end}
	</select>
	
	</mapper>