<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ys.wg.dao.CommentDao">
		
		<resultMap id="CommentBaseMap" type="com.ys.wg.model.Comment">
			
			<id column="id" property="id" jdbcType="INTEGER"/>
			<result column="blog_id" property="blogId" jdbcType="INTEGER"/>
			<result column="time" property="blogTime" jdbcType="TIMESTAMP"/>
			<result column="user_id" property="userId" jdbcType="INTEGER"/>
			<result column="num" property="num" jdbcType="INTEGER"/>
			<result column="reply_user_id" property="replyUserId" jdbcType="INTEGER"/>
			<result column="content" property="content" jdbcType="VARCHAR"/>			
		</resultMap>

		<select id="selectCommentById" parameterType="int" resultType="int">
			SELECT COUNT(*) FROM comment WHERE blog_id=#{blogId}		
		</select>
<!-- 回复 -->
		<insert id="insertComment" parameterType="com.ys.wg.model.Comment">
			INSERT INTO comment (blog_id,user_id,num,reply_user_id,content) 
			values (#{blogId},#{userId},#{num},#{replyUserId},#{content})
		</insert>
		
		<select id="selectcommentByBlogIdNum" parameterType="int" resultType="int">
			SELECT COUNT(*) FROM comment WHERE blog_id = #{blogId}
		</select>
		
		
		<select id="selectCommentByBlogId" resultMap="CommentBaseMap">
			
			SELECT * FROM comment WHERE blog_id = #{blogId} LIMIT #{start},#{end}
			
		</select>

</mapper>