<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ys.wg.dao.FollowDao">

		<resultMap type="com.ys.wg.model.Follow" id="FollowBaseMap">
			<id column="id" property="id" jdbcType="INTEGER"/>
			<result column="user_id" property="userId" jdbcType="INTEGER"/>
			<result column="follow_id" property="followId" jdbcType="INTEGER"/>
			<result column="follow_username" property="followUserName" jdbcType="VARCHAR"/>
		</resultMap>
		
		<select id="selectFollowerNum" parameterType="int" resultType="int">
				
			SELECT COUNT(*) FROM follow WHERE user_id = #{userId}	
				
		</select>
		
		<select id="selectFollowByUserId" parameterType="int" resultMap="FollowBaseMap">
		
			SELECT * FROM follow WHERE user_id = #{userId} LIMIT #{start},#{end}
		
		</select>
		
		<delete id="deleteFollow" parameterType="int">
			
			DELETE FROM follow WHERE follow_id=#{followId} AND user_id=#{userId}
		
		</delete>
		
		
	

</mapper>